<ion-view title="IssueDetail" id="page91">
  <ion-content padding="true" class="has-header">
  <div ng-init="loadToken()">
  <h1>{{data.issueDetails.Name}}</h1><br />
 <b> Short Discription:-</b><p>{{data.issueDetails.DescriptionShort}}
</p>
<b>Discription:-</b><p>{{data.issueDetails.Description}}
</p>
<b>Medical Condition:-</b><p>{{data.issueDetails.MedicalCondition}}
</p>
<b> Possible Symptoms:-</b><p>{{data.issueDetails.PossibleSymptoms}}
</p>
<b> Treatment Discription:-</b><p>{{data.issueDetails.TreatmentDescription}}</p>
</div>
  	
  </ion-content>
</ion-view>